/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Helvetica;
    src: url('../../fonts/Helvetica.ttf');
}

@font-face {
    font-family: Helvetica-Bold;
    src: url('../../fonts/Helvetica-Bold.ttf');
}

body {
    font-family: "Helvetica", sans-serif;
}

.Helvetica {
    font-family: "Helvetica", sans-serif;
}

.Helvetica-Bold {
    font-family: "Helvetica-Bold", sans-serif;
}

.bg-light {
    background-color: #f0f0f0 !important;
}

.bg-paste {
    background-color: #31c6ee !important;
}

.f1f1f1 {
    background-color: #f1f1f1 !important;
}

.a176d9d {
    color: #176d9d !important;
}

.efeb42 {
    background-color: #efeb42;
    color: black;
}

.fff611 {
    background-color: #fff611;
    color: black;
}

.fef610_text {
    color: #fef610;
}

.b3c9cb {
    background-color: #e09cb5;
}

.news-feed-container {
    float: left;
    clear: left;
    width: 100%;
    height: 250px;
    font-size: 12px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.checked {
    color: orange;
}

.news-feed-container ul li {
    display: block;
    clear: both;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px dashed #ddd;
    cursor: pointer;
}

.news-feed-container ul li:hover {
    background-color: #f5fff5;
}

.news-feed-container .dateShow .dateShowS1 {
    text-align: center;
    width: 50px;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    background-color: #31C6EE;
    text-transform: uppercase;
}

.news-feed-container .dateShow .dateShowS2 {
    color: #666;
    padding: 3px 7px;
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e6e6e6), color-stop(.08, #f9f9f9));
    background: -moz-linear-gradient(top, #f9f9f9, #e6e6e6);
}

.news-feed-container .reviewStar {
    font-size: 10px;
    text-align: center;
}

.news-feed-container .reviewStar .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #666;

}

.news-feed-container .location {
    float: left;
    font-size: 0.75em;
    line-height: 15px;
}

.news-feed-container .location h4 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #666;
    font-style: inherit;
    font-weight: bold;
    font-family: inherit;
    background: transparent;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
}

#longDistance .BackDiv {
    background-image: url(../../PNG/LONG%20DISTANCE%20RIDE%20SHARING/Ellipse%201%20copy%202.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    background-size: contain;
    height: 100px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#longDistance .BackDiv img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
}

#JoinFamily .JoinFamilyDiv {
    background-image: url(../../PNG/JOIN%20THE%20FAMILY/Layer%2010.png);
    background-position: center;
    width: 100%;
    background-size: contain;
    height: 220px;
}

#JoinFamily .JoinFamilyDiv2 {
    background-color: #f9f93ae3;
}

#JoinFamily .JoinFamilyDiv2 p {
    color: black;
    width: 223px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    font-size: 15px;
    font-weight: 500;
}

.btn22 {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.btn--primary {
    background: #ebcf7b;
    color: #000;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 34px;
    padding: 2px 14px;
}

.btn--primary:hover {
    background: #dab959;
}

.btn--primary:active {
    background: #dab959;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
    margin-left: -74px;
}

.form__field {
    min-width: 210px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 10px 10px;
    border-radius: 33px;
}

#PopularRide {
    background-color: #585858;
}

.overlay .AnyEvery {
    /*
    position: absolute !important;
    bottom: 22%;
    box-shadow: 3px 1px 12px 4px rgba(0, 0, 0, 0.48);
    */
}


.overlay .AnyEvery div.relative {
    position: relative;
    width: 28px;
    height: 70px;
    border: 0;
    z-index: 1;
}

.overlay .AnyEvery div.absolute {
    position: absolute;
    top: 9px;
    left: 9px;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid #5494a3;
}

.overlay .AnyEvery div.absolute2 {
    position: absolute;
    top: 23px;
    left: 16px;
    height: 30px;
    border: 1px solid #666565;
}

.overlay .AnyEvery div.absolute3 {
    position: absolute;
    top: 51px;
    left: 9px;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid #db6150;
}

.overlay .AnyEvery .AnyEveryInput {
    width: 100%;
    font: inherit;
    outline: 0;
    background: white;
    color: black;
    border: 0;
    padding: 5px 10px 5px 32px;
    border-radius: 20px;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ebeeef;
}


.wrap-login100 {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/*==================================================================
[ Title form ]*/
.login100-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 70px 15px 74px 15px;
}

.login100-form-title-1 {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.login100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54, 84, 99, 0.7);
}


/*==================================================================
[ Form ]*/

.login100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 93px 190px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
}

.label-input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    text-align: right;

    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;

}

/*---------------------------------------------*/
.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;

    background: #57b846;
}


/*---------------------------------------------*/
input.input100 {
    height: 45px;
}


.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #999999;
    line-height: 1.4;

    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

.label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #e6e6e6;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
    color: #57b846;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;

    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background-color: #333333;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .login100-form {
        padding: 43px 15px 57px 117px;
    }
}

@media (max-width: 480px) {
    .login100-form {
        padding: 43px 15px 57px 15px;
    }

    .label-input100 {
        text-align: left;
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        padding: 0 5px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;

    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}


/*=======================================
        Post a ride Style
=========================================*/


.publication-container h1 {
    color: #054752;
    font-family: gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.publication-breadcrumb {
    font-size: 14px;
    color: #ddd;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.publication-breadcrumb li {
    float: left;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 45px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.publication-breadcrumb li span, .publication-breadcrumb li a {
    display: block;
    width: 250px;
    color: #054752;
    font-weight: bold;
}

#footerWrapper {
    width: 100%;
    background-image: url(../../img/icon/footerSlopesFlowers.png);
    background-repeat: repeat-x;
    background-color: #31c6ee;
    clear: both;
    display: block;
    padding-top: 150px;
    padding-bottom: 20px;
}

.mainmenu:hover .submenu {
    display: block;
    max-height: 200px;
    margin-top: 5px;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;

    border-radius: 4px;
}

.submenu li {
    border-bottom: 0 !important;
    cursor: pointer;
    padding: 2px 8px;
}

.submenu li:hover {
    background-color: #e4e4e4;
}


.user-submenu li:hover,
.user-submenu li:hover .user-link {
    background-color: #d0deee;
    color: #4b626e;
}

.user-submenu li {
    border: 1px solid #d7e5f5;
}

.user-submenu li .user-link {
    color: #607d8b;
    display: block;
    font-size: 13px;
    line-height: 22px;
    padding: 5px 0;
}

.user-submenu li .user-link i {
    margin-right: 10px;
}

.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover {
    color: #1a3e66;
}

.notification .badge {
    position: absolute;
    top: -11px;
    right: 4px;
    padding: 3px 7px;
    border-radius: 22%;
    font-size: 12px;
    background: red;
    color: white;
}

.notification-menu {
    margin-top: 25px;
    width: 320px;
    max-height: 500px;
}


/*=======================================
        Login page css
=========================================*/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.nice-select .list {
    max-height: 300px;
    overflow-y: auto;
}

.form-signin .forget-password {
    font-weight: 400;
    color: black;
    cursor: pointer;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin .form-control:focus,
.form-signin .form-control:focus:hover{
    border-color: black;
}
.form-signin input[type="text"] {
    margin-bottom: -2px;
    color: black;
    /*border: 1px solid black;*/
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="number"] {
    margin-bottom: -2px;
    color: black;
    /*border: 1px solid black;*/
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 1px;
    color: black;
    /*border: 1px solid black;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*=======================================
        responsive css
=========================================*/

@media (max-width: 991px) {
    .pro-droupdown {
        margin-left: 0 !important;
    }
}











